<h1>Topページです。</h1>

<p>Find me in app/views/homes/top.html.erb</p>
 <%= form_with url: search_rakuten_api_path,class: "d-flex m-3", method: :get, local: true do |f| %>
    <%= f.text_field :keyword ,class:"form-control ",type:"search"%>
    <%= f.submit :search,class:"btn btn-outline-success",type:"submit" %>
<% end %>

<% if @items.present? %>
  <%= @items.each do |item| %>
    <%= item.itemName %>
    <% end %>
<%else%>
    <p>naiyo</p>
<% end %>
